<section class="columns">
        <!-- left -->
        <section class="column">
            <% @creat1s.each do |story| %>
              <article class="media">
                <div class="media-content">
                  <% if story.cover_image.attached? %>   <%#如果有圖就秀出來%>
                  <figure class="media-right">
                    <%= image_tag story.cover_image.variant(resize: '400x200') %>
                  </figure>
                  <% end %>
                  <h2 class="title is-6"><%= link_to story.title, story_page_path(story.user.username,story),class: 'has-text-grey-dark'%></h2>
                  <footer>
                    <p>
                    <%= link_to story.user.username, user_page_path(story.user.username),class: 'has-text-grey-dark' %> |
                    <%= time_ago_in_words(story.updated_at)%>   <%# time_ago_in_words 多久時間前的api %>
                    </p>
                  </footer>
                </div>
            </article>
          <% end %>
        </section>
        <!-- left -->
        <!-- middle -->
        <section class="column">
          <% @updates.each do |story| %>
              <article class="media">
                <div class="media-content">
                  <h2 class="title is-6"><%= link_to story.title, story_page_path(story.user.username,story),class: 'has-text-grey-dark'%></h2>
                  <footer>
                    <p>
                    <%= link_to story.user.username, user_page_path(story.user.username),class: 'has-text-grey-dark' %> |
                    <%= time_ago_in_words(story.updated_at)%>   <%# time_ago_in_words 多久時間前的api %>
                    </p>
                  </footer>
                </div>
            </article>
          <% end %>
        </section>
        <!-- middle -->
        <!-- right -->
        <section class="column">
            <% @top1s.each do |story| %>
              <article class="media">
                <div class="media-content">
                  <% if story.cover_image.attached? %>   <%#如果有圖就秀出來%>
                  <figure class="media-right">
                    <%= image_tag story.cover_image.variant(resize: '400x200') %>
                  </figure>
                  <% end %>
                  <h2 class="title is-6"><%= link_to story.title, story_page_path(story.user.username,story),class: 'has-text-grey-dark'%></h2>
                  <footer>
                    <p>
                    <%= link_to story.user.username, user_page_path(story.user.username),class: 'has-text-grey-dark' %> |
                    <%= time_ago_in_words(story.updated_at)%>   <%# time_ago_in_words 多久時間前的api %>
                    </p>
                  </footer>
                </div>
            </article>
          <% end %>
        </section>
        <!-- right -->
      </section>
      <hr>

      <section class="columns">
        <!-- article list -->
        <section class="column is-two-thirds">
          <% @stories.each do |story| %>
          <article class="media">
            <div class="media-content">
              <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username,story),class: 'has-text-grey-dark'%></h2>
              <p class="content"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p>
                <%= link_to story.user.username, user_page_path(story.user.username),class: 'has-text-grey-dark' %> |
                <%= time_ago_in_words(story.updated_at)%>   <%# time_ago_in_words 多久時間前的api %>
                </p>
              </footer>
            </div>
            <% if story.cover_image.attached? %>   <%#如果有圖就秀出來%>
              <figure class="media-right">
                <%= image_tag story.cover_image.variant(resize: '200x200') %>
              </figure>
            <% end %>
          </article>
          <% end %>
        </section>
        <!-- article list -->

        <section class="column">
          <h2 class="title is-4">Popular Top 10</h2>
          <hr>
            <% @populars.each do |story| %>
              <article class="media">
                <div class="media-content">
                  <h2 class="title is-6"><%= link_to story.title, story_page_path(story.user.username,story),class: 'has-text-grey-dark'%></h2>
                  <footer>
                    <p>
                    <%= link_to story.user.username, user_page_path(story.user.username),class: 'has-text-grey-dark' %> |
                    <%= time_ago_in_words(story.updated_at)%>   <%# time_ago_in_words 多久時間前的api %>
                    </p>
                  </footer>
                </div>
                <% if story.cover_image.attached? %>   <%#如果有圖就秀出來%>
                  <figure class="media-right">
                    <%= image_tag story.cover_image.variant(resize: '200x200') %>
                  </figure>
                <% end %>
            </article>
          <% end %>
        </section>
      </section>
    </div>
  </section>