<!DOCTYPE html>
<html>
  <head>
    <title>Medium</title>
    <%# <link rel="icon" type="image/png" href="assets/images/logo_icon.png"> %>
    <%# <% favicon_link_tag asset_path('logo_icon.png') %> 
    <%= favicon_pack_tag 'icon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application',media: 'all' %>
    <%= javascript_pack_tag 'application',media: 'all' %>                      

  </head>

  <body>
  
    <div class="container">
      <%= render 'shared/frontend/navbar' %>
      <%= render 'shared/frontend/flash' if notice %>
      <%= yield %>
    </div>
  </body>
</html>
