<!DOCTYPE html>
<html>
  <head>
    <title>MyMedium</title>
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>                      

  </head>

  <body>
  
    <div class="container">
      <%= render 'shared/frontend/navbar' %>
      <%= render 'shared/frontend/flash' if notice %>
      <%= yield %>
    </div>
  </body>
</html>
